on: [push,pull_request]

name: auto check

jobs:
  check:
    name: auto check
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: download shiori
        run: |
             aria2c https://github.com/ponapalt/yaya-shiori/releases/latest/download/yaya.zip
             7z x yaya.zip -tzip
      - name: use yaya.txt in files
        run: |
             MOVE .github\workflows\files\yaya.txt .\yaya.txt
      - name: shiori-check
        uses: YAYA-shiori/yaya-CI-check@v1
        with:
          shiori-path: .\yaya.dll
